ul.pagination {
    display: inline-block;
}
ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}
a:active{
    background-color: #4CAF50;
    color: white;
    
}
ul.pagination li a:hover{
    background-color: rgb(7, 7, 77);
    color: white;
}
.pagination{
    margin-left: 10vw;
}